<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.mapper.UserMapper">



	<!-- 根据userLogin获取登陆人——t_user信息 -->
	<select id="findUser" parameterType="String" resultType="com.platform.entity.User">

		SELECT
		t_user.* FROM t_user WHERE t_user.`userLogin`= #{userLogin}
	</select>



	<!-- 根据userLogin获取登陆人——基本信息 -->
	<select id="findByUsername" parameterType="String"
		resultType="com.platform.entity.User">

		SELECT t_user.* , t_userinfo.* FROM t_user , t_userinfo
		WHERE
		t_user.`user_id` = t_userinfo.`user_id` AND t_user.`userLogin`=
		#{userLogin}
	</select>


	<!-- 商人登录人——基本信息 -->
	<select id="findmerchantByuserlogin" parameterType="String"
		resultType="com.platform.entity.User">

		SELECT t_user.* , t_merchant_info.* FROM t_user ,
		t_merchant_info WHERE
		t_user.`user_id` = t_merchant_info.`user_id`
		AND
		t_user.`userLogin`= #{userLogin}
	</select>


	<!-- name 模糊查用户 -->
	<select id="finduserByname" resultType="com.platform.entity.User"
		parameterType="String">

		SELECT t_user.* , t_userinfo.* FROM t_user , t_userinfo
		WHERE
		t_user.`user_id` = t_userinfo.`user_id` AND userLogin LIKE
		CONCAT(CONCAT('%', #{phone}), '%')

	</select>
	<!-- name 模糊查商家 -->
	<select id="findMerchantByname" resultType="com.platform.entity.User"
		parameterType="String">
		SELECT t_user.* , t_merchant_info.* 
		FROM t_user , t_merchant_info
		WHERE
		t_user.`user_id` = t_merchant_info.`user_id` 
		AND t_user.userLogin LIKE
		CONCAT(CONCAT('%', #{merchant_name}), '%')
		AND user_type='2'
		ORDER BY merchant_type desc, user_create_time desc
	</select>


	<!-- user_id查用户 -->
	<select id="finduserById" resultType="com.platform.entity.User"
		parameterType="String">

		SELECT * FROM t_user WHERE user_id = #{user_id}

	</select>



	<!-- 查看所有用户 -->
	<select id="userlist" resultType="com.platform.entity.User">

		SELECT t_user.* , t_userinfo.*
		FROM t_user , t_userinfo
		WHERE t_user.`user_id` = t_userinfo.`user_id`
		AND t_user.user_type != 1
		ORDER BY user_state,user_create_time desc

	</select>


	<!-- 查看所有商人 -->
	<select id="merchantlist" resultType="com.platform.entity.User">

		SELECT t_user.* , t_merchant_info.*
		FROM t_user , t_merchant_info
		WHERE t_user.`user_id` = t_merchant_info.`user_id`
		AND t_user.user_type = 2
		AND t_merchant_info.user_state!=3
		ORDER BY merchant_type desc, user_create_time desc

	</select>



	<!-- 根据商人注册，验证帐号是否存在 -->
	<select id="selectUserlogin" parameterType="String"
		resultType="com.platform.entity.User">

		SELECT t_user.* FROM t_user WHERE t_user.`userLogin`=
		#{userLogin}
	</select>

	<select id="selectUser_merchant_account" parameterType="String"
		resultType="String">

		SELECT t_merchant_info.merchant_account FROM
		t_merchant_info WHERE
		merchant_account= #{merchant_account}
	</select>



	<!-- APP 用户注册_t_user -->
	<insert id="userrigester_user" parameterType="com.platform.entity.User"
		keyProperty="id">
		INSERT INTO
		t_user
		(user_id,
		userLogin,passWord,user_type,user_state,user_create_time)
		VALUES
		(#{user_id},#{userLogin},#{passWord},#{user_type},#{user_state},now())
	</insert>


	<!-- APP 用户注册_t_userinfo -->
	<insert id="userrigester_userinfo" parameterType="com.platform.entity.User"
		keyProperty="id">
		INSERT INTO
		t_userinfo
		(realName,idCard,dq,zy,user_id,user_email , user_img)
		VALUES
		(#{realName},#{idCard},#{dq},#{zy},#{user_id},#{user_email},#{user_img})
	</insert>

	<!-- WEB 商人注册_t_merchant_info -->
	<insert id="userrigester_merchantinfo" parameterType="com.platform.entity.User"
		keyProperty="merchant_id">
		INSERT INTO
		t_merchant_info
		(user_id,merchant_desc,merchant_add_user,merchant_add_time,merchant_phone,service_man,merchant_account,merchant_type)
		VALUES
		(#{user_id},#{merchant_desc},#{merchant_add_user},now(),#{merchant_phone},#{service_man},#{merchant_account},#{merchant_type})
	</insert>






	<!--用户锁定，解锁，删除 -->
	<update id="updateuser_state" parameterType="com.platform.entity.User">
		UPDATE t_user
		<set>
			<if test="user_state != null and user_state !='' ">
				user_state = #{user_state}
			</if>
		</set>
		WHERE user_id = #{user_id}
	</update>



	<!--修改密码 -->
	<update id="updatepass" parameterType="com.platform.entity.User">
		UPDATE t_user
		<set>
			<if test="passWord != null and passWord !='' ">
				passWord = #{passWord},
			</if>
		</set>
		WHERE userLogin = #{userLogin}
	</update>


	<!--修改个人头像user_img字段 -->
	<update id="updauser_img" parameterType="com.platform.entity.User">
		UPDATE t_userinfo
		<set>
			<if test="user_img != null and user_img  !='' ">
				user_img = #{user_img },
			</if>
		</set>
		WHERE user_id = #{user_id}
	</update>





	<!--修改app普通用户邮箱 -->
	<update id="updateEmail" parameterType="com.platform.entity.User">
		UPDATE t_userinfo
		<set>
			<if test="user_email != null and user_email !='' ">
				user_email = #{user_email},
			</if>
		</set>
		WHERE user_id = #{user_id}
	</update>


	<!--修改用户登录状态 -->
	<update id="updatelogin_state" parameterType="com.platform.entity.User">
		UPDATE t_user set
		login_state = #{login_state} WHERE user_id = #{user_id}
	</update>



	<!-- Leo -->




	<!-- 根据验证帐号是否存在 -->
	<select id="chechUserIsExist" parameterType="String" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM t_user tu WHERE tu.userLogin= #{userLogin}
	</select>

	<!-- 根据验证邮箱是否存在 -->
	<select id="chechUserEmailIsExist" parameterType="String"
		resultType="java.lang.Integer">
		SELECT COUNT(*) FROM t_userinfo tui WHERE tui.user_email=
		#{user_email}
	</select>


	<!-- 根据userLogin获取登陆人——基本信息 -->
	<select id="login" parameterType="java.util.Map" resultType="com.platform.entity.User">
		<include refid="userInfoSql" />
		AND tu.userLogin=#{userLogin}
		AND tu.passWord=#{passWord}
		AND tu.user_type='3'
	</select>

	<!-- 根据 token查询用户 -->
	<select id="getUserInforByToken" parameterType="java.lang.String"
		resultType="com.platform.entity.User">
		<include refid="userInfoSql" />
		AND tut.token=#{token}
	</select>

	<!-- 根据 用户名和邮箱查询用户 -->
	<select id="getUserInforByUserNameAndEmail" parameterType="com.platform.entity.User"
		resultType="com.platform.entity.User">
		<include refid="userInfoSql" />
		AND tu.userLogin=#{userLogin}
		AND tui.user_email=#{user_email}
		AND tu.user_type='3'
	</select>

	<!-- 根据 用户名和验证码查询用户 -->
	<select id="getUserInforByUserNameAndCode" parameterType="java.util.Map"
		resultType="com.platform.entity.User">
		<include refid="userInfoSql" />
		AND tu.userLogin=#{userLogin}
		AND tut.YZM=#{code}
		AND tu.user_type='3'
	</select>

	<sql id="userInfoSql">
		SELECT tu.* ,tui.* ,token FROM t_user tu
		JOIN t_userinfo tui
		ON tu.user_id=tui.user_id
		JOIN t_user_token tut ON
		tu.user_id=tut.user_id
		WHERE (tu.user_state='2' OR tu.user_state='1')
		
	</sql>
	


	<!-- WEB 商人注册_t_merchant_info -->
	<insert id="addMerchant" parameterType="com.platform.entity.MerchantInfo"
		keyProperty="merchant_id">
		INSERT INTO
		t_merchant_info
		(user_id,merchant_desc,merchant_add_user,merchant_add_time,merchant_phone,
		service_man,merchant_account,merchant_type,userLogin,user_type,user_state,passWord,updateDate,lastLoginDate,realName,user_email,login_state)
		VALUES
		(#{user_id},#{merchant_desc},#{merchant_add_user},now(),#{merchant_phone},
		#{service_man},#{merchant_account},#{merchant_type},#{userLogin},#{user_type},#{user_state},#{passWord},now(),now(),#{realName},#{user_email},#{login_state})
	</insert>


	<!-- 商人申请_t_merchant_info -->
	<insert id="addMerchantInfo" parameterType="com.platform.entity.MerchantInfo"
		keyProperty="merchant_id">
		INSERT INTO
		t_merchant_info
		(user_id,merchant_desc,merchant_add_user,merchant_add_time,merchant_phone,
		service_man,merchant_account,merchant_type,userLogin,user_type,user_state,passWord,updateDate,lastLoginDate,realName,user_email,login_state,qq,type)
		VALUES
		(#{user_id},#{merchant_desc},#{merchant_add_user},now(),#{merchant_phone},
		#{service_man},#{merchant_account},#{merchant_type},#{userLogin},#{user_type},#{user_state},#{passWord},now(),now(),#{realName},#{user_email},#{login_state},#{qq},#{type})
	</insert>

	<!-- 商人申请_t_merchant_extra -->
	<insert id="addMerchantExtra" parameterType="com.platform.entity.MerchantInfo" >
		INSERT INTO
		t_merchant_extra
		(user_id,license,corporation_pic,identification_obverse,identification_reverse)
		VALUES
		(#{user_id},#{license},#{corporation_pic},#{identification_obverse},
		#{identification_reverse})
	</insert>

	<!--修改用户登录状态 -->
	<update id="updateLoginState" parameterType="com.platform.entity.MerchantInfo">
		UPDATE t_merchant_info SET
		lastLoginDate = now() WHERE user_id = #{user_id}
	</update>
	
	<!--修改用户登录密码 -->
	<update id="updatePassword" parameterType="java.util.Map" >
		UPDATE t_merchant_info SET
		updateDate = now(),passWord=#{newPassWord}  WHERE `userLogin`=#{userLogin}
		AND `password`= #{passWord}
	</update>

	<!-- 登录 -->
	<select id="getUserLogin" parameterType="java.util.Map"
		resultType="com.platform.entity.MerchantInfo">
		SELECT * FROM t_merchant_info tmi 
		WHERE tmi.`userLogin`=#{userLogin}
		AND tmi.`password`= #{passWord}
	</select>
	
	<!-- 查看用户名是否存在 -->
	<select id="checkUserLoginIsExist" parameterType="String"
		resultType="Integer">
		SELECT COUNT(*) FROM t_merchant_info tmi 
		WHERE tmi.`userLogin`=#{userLogin}
		
	</select>
	<!-- 查询商人列表-->
	<select id="getMerchantList" resultType="com.platform.entity.MerchantInfo">
		SELECT * FROM t_merchant_info tmi 
		WHERE tmi.user_type='2'
		AND tmi.user_state!=3
		ORDER BY merchant_type DESC, merchant_add_time DESC
	</select>
	
	<!-- 查询商人列表-->
	<select id="findMerchantByUserLogin" parameterType="String" resultType="com.platform.entity.MerchantInfo">
		SELECT * FROM t_merchant_info tmi 
		WHERE tmi.user_type='2'
		AND tmi.user_state!=3
		AND tmi.userLogin LIKE
		CONCAT(CONCAT('%', #{userLogin}), '%')
		ORDER BY merchant_type DESC, merchant_add_time DESC
	</select>
	
	<!--用户锁定，解锁，删除 -->
	<update id="updateUserState" parameterType="com.platform.entity.MerchantInfo">
		UPDATE t_merchant_info
		<set>
			<if test="user_state != null and user_state !='' ">
				user_state = #{user_state}
			</if>
		</set>
		WHERE user_id = #{user_id}
	</update>
<!-- 查询商人列表-->
	<select id="getMerchantInfo" resultType="com.platform.entity.MerchantInfo"  parameterType="String" >
		SELECT * FROM t_merchant_info tmi 
		LEFT JOIN t_merchant_extra tme  
		ON tmi.user_id= tme.user_id
		WHERE tmi.user_id =#{user_id}
	</select>



</mapper>